body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #7D5A69;
}

:root {
    --main-color: #E3A3BF;
}

header, section, footer {
    margin: 20px auto;
    width: 80%;
    max-width: 960px;
}

header {
    text-align: center;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border: 2px solid var(--main-color);
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    color: var(--main-color);
}

h2 {
    border-bottom: 2px solid var(--main-color);
    padding-bottom: 5px;
}

section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.experience-container div,
.education-container div,
.courses-container div,
.skills-container div, 
.languages-container div {
    transition: background-color 2s ease;
}

.experience-container div:hover,
.education-container div:hover,
.courses-container div:hover,
.skills-container div:hover,
.languages-container div:hover {
    background-color: #FCB6D4;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: var(--main-color);
    color: #fff;
}

p a {
    transition: transform 0.2s ease;
}

p a:hover {
    transform: scale(1.5);
}


#idiomas {
    background-color: #f4f4f4;
    padding: 20px;
}

.languages-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.language {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 180px;
    text-align: center;
}

.language span {
    font-size: 50px;
    margin-bottom: 10px;
}


#informatica {
    background-color: #f4f4f4;
    padding: 20px;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 180px;
    text-align: center;
}

.skill span {
    font-size: 50px;
    margin-bottom: 10px;
}

#experiencia {
    background-color: #f4f4f4;
    padding: 20px;
}

.experience-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.job {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 250px; /* Ajusta según necesidad */
    text-align: center;
}

.job span {
    font-size: 50px;
    margin-bottom: 10px;
}

#formacion-reglada {
    background-color: #f4f4f4;
    padding: 20px;
}

.education-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.degree {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 250px; /* Ajuste según necesidad */
    text-align: center;
}

.degree span {
    font-size: 50px;
    margin-bottom: 10px;
}

#formacion-complementaria {
    background-color: #f4f4f4;
    padding: 20px;
}

.courses-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.course {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 250px; /* Ajuste según necesidad */
    text-align: center;
}

.course span {
    font-size: 50px;
    margin-bottom: 10px;
}
